:root {

    --primary: #0195bf;
    --primaryAction: #0195bf;
    --primaryActionHover: #017a9e;

    --secondary: #eeb258;
    --secondaryActionBackgroundColor: #eeb258;
    --secondaryActionBackgroundColorHover: #d08514;

    //text color
    --textColor: #000000;
    --textColorHover: #ffffff;
    --textColorActive: #ffffff;
    --textColorDisabled: #999ca9;
    --textColorPlaceholder: #999ca9;
    --textColorLink: #000000;
    --textColorLinkHover: #000000;
    --textColorLinkActive: #000000;
    --textColorLinkDisabled: #999ca9;
    --textColorInfo: #ffffff;
    --textColorInfoHover: #ffffff;
    --textColorInfoActive: #ffffff;
    --textWhite: #eaeaea;
}